@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Repository.Infrastructures;
@inject IUnitOfWork uow;
@{
    var categories = uow.CategoryRepository.GetAll();
    var tags = uow.TagRepository.GetAll();
}

<partial name="_PartialNugetRight"/>

@*@if (categories != null)
{
    @foreach (var item in categories)
    {
        <!-- Post preview-->
        <div class="post-preview">
            <a asp-action="GetPostsByCategory" asp-controller="Post" asp-route-name="@item.Name">
                <h2 class="post-title">@item.Name</h2>
                <h3 class="post-subtitle">@item.Description</h3>
            </a>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    }
}*@


