@model FA.JustBlog.Core.Models.Comment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using FA.JustBlog.Repository.Infrastructures;
@inject IUnitOfWork uow;

@{
    var posts = uow.PostRepository.GetAll();
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Edit for comment</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" asp-action="Edit">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostId">Post</label>
                            <select asp-for="PostId" class="form-control">
                                @foreach (var item in posts)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                            <span asp-validation-for="PostId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CommentHeader" class="control-label"></label>
                            <input asp-for="CommentHeader" class="form-control" />
                            <span asp-validation-for="CommentHeader" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CommentText" class="control-label"></label>
                            <input asp-for="CommentText" class="form-control" />
                            <span asp-validation-for="CommentText" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CommentTime" class="control-label"></label>
                            <input asp-for="CommentTime" class="form-control" />
                            <span asp-validation-for="CommentTime" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-warning">Save</button>
                        <button asp-action="Comments" asp-controller="Comment" type="submit" class="btn btn-default float-right">Back to list</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

